*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    padding:20px;
    height: 50%;
    width: 50%;
    border-radius: 20px;
    background-color: white;
    gap: 20px;
    display: flex;

}

.box{
    height: 40%;
    width: 20%;
    background-color: red;
    
}